
<div id="feedControl">
  <div class="searchForm">
    <form method="get" action="/search">
      <input type="text" class="searchMetachannels"  name="searchTerms", id="searchBox" style="vertical-align:middle;color:#999;"  value="Channels Video Search" onfocus="searchClear ()" />
      <input type="image" src="/images/search-metachannels.png" style="vertical-align:middle;"/>
    </form>
  </div>
</div>
<%  if @results.empty?
      # do nothing
    elsif @results.has_key?("error")
%>
<div>The service is unavailable for your device. (<%= @results["error"] %>)</div>
<%
    elsif @results["rss"]["channel"]["item"].blank? 
%>
<div>No results found for <strong><%= params[:searchTerms] %></strong></div>
<% 
    # when one result returned, it's a hash instead of an array
    elsif @results["rss"]["channel"]["item"].is_a? Hash
      items = [@results["rss"]["channel"]["item"]]
    else 
      items = @results["rss"]["channel"]["item"]
    end

    if !items.nil?
      # now convert items to a WillPaginate::Collection
      @shows = WillPaginate::Collection.new(@page, @results["rss"]["channel"]["itemsPerPage"].to_i, @results["rss"]["channel"]["totalResults"].to_i)
      @shows.replace(items)
    end
%>
  <%= render :partial => 'search_result', :collection => items %>

  <%= will_paginate(@shows, :class => 'clear', :page_links => false, :param_name => 'startPage') if !@shows.nil? %>
<script src="http://www.google.com/jsapi/?key=<%= GDATA_APIKEY %>" type="text/javascript">
</script>

<script type="text/javascript"> //<![CDATA[
  // load the AJAX Feed API
  google.load("feeds", "1");
  google.load("jquery", "1");

  function searchClear() {
    // 1. get a ref to the element
    var el = document.getElementById("searchBox");
    // 2. use the ref to clear the value
    el.value=" ";
    //3. use the ref to set a new style
    el.style.color = "#111";
    //this.value='&nbsp;'
	}
  
  function ShowPreview(url, name, elemId, linkId) {
    var el = document.getElementById("bppreview" + elemId);
    var linkEl = document.getElementById(linkId);

    if (el.style.display == "block") {
      el.style.display = "none";
      linkEl.innerHTML = 'View Episodes';
    }
    else {
      el.innerHTML = '<div class="infoMsg">Loading...</div>';
      var feedControl = new google.feeds.FeedControl();
      feedControl.addFeed(url, name);
      feedControl.setNumEntries(10);
      feedControl.draw(el);
      el.style.display = "block";
      linkEl.innerHTML = 'Hide Episodes';
    }
  }

  
  //]]>
</script>

<% if params[:debug] %>
  <%= content_tag(:strong, "Debug Info") %>
  <%= content_tag(:div, "UserAgent: #{request.user_agent}") %>
  <%= content_tag(:div, "DeviceProfile API Key: #{@api_key.slice(0, @api_key.length/2)}") %>
  <%= content_tag(:div, "MetaChannels API Endpoint: #{MetaChannelsConfig.endpoint}") %>
<% end %>
